body {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	margin: 0;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;;
	font-weight: 700;
}

.container {
	width: 1130px;
	margin-left: 120px;
	margin-right: 77px;
}

.header {
	padding-top: 64px;
}

.title {
	font-size: 44px;
	display: inline;
	padding-right: 89px;
}

.kontakt{
	display: inline;
}

p {
	display: inline;
}

.header-txt {
	padding-left: 45px;
}

.kontakt-logo {
	padding-left: 45px;
}

.section-title {
	padding-top: 175px;
	font-size: 40px;
}



.btn {
	padding:10px 40px;
	font-weight: 700;
	color: black;
	font-size: 28px;
	background: #F5E01E;
	text-decoration: none;
	text-align: center;
}

.menu {
	display: block;
	width: 400px;
	line-height: 1.3em;
	font-size: 20px;
	margin: 0;
	padding-top: 7px;
	padding-bottom: 45px;
}

.footer {
	padding: 20px 0;
	background: #fff;
}

.credits {
	color: black;
	font-size: 18px;
	margin: 0;
}


















































































































































































































































































































































































































